{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">
            The Mini Project name is " The Emporium ".<br><br><br>
            This website is made by &copy; Nikhil Mormare and Dhananjay Bhagat<br> under guidance of Prof. Vanita Patil
            Mam and Prof. Rahul Ambapkar Sir.
        </p>
    </div>
</div>

{% endblock main-content %}