{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}

<div class="container mt-3">
    <br>
    <h2 class="text-center">Contact Us</h2>
    <br>
    <p class="fs-4 text-center"><b>Address : </b>Dr. D. Y. Patil Institute of Master of Computer Application, Akurdi,
        Pune </p>
    <p class="fs-4 text-center"><b>Contact : </b>8263001046 </p>
    <p class="fs-4 text-center"><b>Email : </b>dhananjaybhagat1212@gmail.com</p>
</div>

{% endblock main-content %}